{% load static %}

<div class="navwrapper" style="width:25%">
    <div class="sidebar">
        <ul>
            <li>
                {% url "home" as home_url %}
                <a href="{% url "home" %}" {% if request.path == home_url %}class="active"{% endif %}>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a href="{% url "blog:blog_index" %}" class="active">
                    <span class="item">Blog</span>
                </a>
                <ul>
                    {% for post in posts %}
                    {% url "blog:entries" post=post as blog_entry %}
                    <li><a href="{% url "blog:entries" post=post %}" {% if request.path == blog_entry %} class="active"{% endif %}>
                        <span class="item">{{post}}</span>
                    </a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>