@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
    font-family: 'Rubik', sans-serif;
}
content {
    max-width: 960px;
    margin: auto;
}
body {
    background-color: #1e1e1e;
    color: #FFF1F1F1;
}