@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
    font-family: 'Source Code Pro', monospace;
}
content {
    max-width: 960px;
    margin: auto;
}
body {
    background-color: #1e1e1e;
    color: #FFF1F1F1;
}