{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_name %}Learning and Technology{% endblock %}</title>
    <link rel="stylesheet" href="{% static styles %}">
    {% block css_files %}{% endblock  %}
</head>
<body>
    <h1>{% block page_heading %}{% endblock %}</h1>
    {% include "./includes/navbar.html" %}
    <p>{% block page_content %}{% endblock %}</p>
</body>
</html>